@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "./1_defaults.css";
@import "./2_semantic-colors.css";
@import "./3_primitives.css";

:root {
  --dsaas-border-radius: 0.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  /* max-width: 900px; */
  width: 100vw - 280px;
  height: 100vh - 80px;
  /* margin-inline: auto; */
  /* margin-top: 4rem; */
  margin: 4rem;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 90%;
    margin-inline: 1.5rem;
  }
}
