@import "./1_defaults.css";
@import "./2_semantic-colors.css";
@import "./3_primitives.css";

:root {
  --dsaas-border-radius: 0.5rem;
}

.main-container {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin: 4rem;
  /* flex-direction: column;
  margin-left: 280px;
  display: grid; */
  /* gap: 0.5rem; */
  /* height: 100%; */
  /* margin: 4rem auto;
  text-align: start;
  overflow: hidden; */
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 90%;
  }
}
